<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SettingsSection" type="TNT.Configuration.XmlSection`1[[TNT.Updater.Settings,TNT.Updater]], TNT.Configuration"/>
	</configSections>
	<SettingsSection>
		<Settings>
			<Endpoint>https://localhost:5001/api/v1</Endpoint>
		</Settings>
	</SettingsSection>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>